:local(.container) {
    position: relative;
    max-height: 500px;
    overflow: hidden;
}

:local(.image) {
    width: 100%;
}

:local(.fab) {
    position: absolute!important;
    bottom: 20px;
    right: 20px;
}

:local(.fileInput) {
    display: none;
}
